/*Polices d'écriture: 
font-family: 'Merriweather Sans', sans-serif; */

#connexion{
	padding-left: 600px;	
}

#btn-warning{
	 color: #fff;
}

body
{

	background-image: url(../images/grid.jpg);
	font-family:'Merriweather Sans', sans-serif;
}

#h4{
	color: #d8d8d8;
}

#footer{
	background-color: #ffbf00; 
	padding-top: 3em;
	padding-bottom: 3em;
}
#footer a{
	color: #d8d8d8;
}
#footer a:hover{
	color: #fff;
}
.social a{
	font-size: 24px; 	
}

#wrapper{
	
	background-image: url(../images/background/background.jpg);
	height: 550px;
	background-size: cover;
	padding-top: 150px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#wrapper h1{
	font-size: 50px;
}
#wrapper h2{
	font-size: 20px;
	padding-bottom:50px;
}
.spacer{
	height: 8em;
}
}
.feature p {
	font-weight: 300;
	letter-spacing: 1px;
}
.feature img{
	margin-bottom: 2em;
}

.navbar-trans {
	background-color: rgba(0,0,0,0.7);
}