/*Polices d'écriture: 
font-family: 'Merriweather Sans', sans-serif; */

#connexion{
	padding-left: 600px;	
}

#btn-warning{
	 color: #fff;
}

body
{

	background-color: #fff;
	font-family:'Merriweather Sans', sans-serif;
}

#h4{
	color: #d8d8d8;
}

#footer{
	background-color: #ffbf00; 
	padding-top: 3em;
	padding-bottom: 2em;
}
#footer a{
	color: #d8d8d8;
}
#footer a:hover{
	color: #fff;
}
.social a{
	font-size: 24px; 	
}

#wrapper{
	
	background-image: url(../images/background/background.jpg);
	background-position: 50% 75% ;
	height: 550px;
	background-size: cover;
	padding-top: 250px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#wrapper h1{
	font-size: 50px;
}
#wrapper h2{
	font-size: 20px;
	padding-bottom:50px;
}

#wrapper-bottom{
	background-image: url(../images/deviens-constructeur.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 450px;
	background-size: cover;
	padding-top: 120px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
.spacer{
	height: 3em;
}

.feature p {
	font-weight: 300;
	letter-spacing: 1px;
}
.feature img{
	margin-bottom: 2em;
}

.navbar-trans {
	background-color: rgba(0,0,0,0.7);
}

.europal {
	background-image: url(../images/tas-de-palette.jpg);
	background-size: 400px;
	padding-top: 300px;
	margin-left: 100px;
	padding-bottom: 100px;
	background-repeat: no-repeat;
}
#feature{
	background-color: #efefef;
}
#offre {
	font-style: italic;
	font-weight: 700;
	font-size: 35px;
}

#feature2{
	background-color: #ffeb7a;
}

#testimonials {
	background-image: url(../images/europal.jpg);
	height: 350px;
	background-size: cover;
	padding-top: 100px;
	
}

.carousel p {
	font-style: italic;	
}

.carousel h5{
	font-weight: 700;
	font-size: 20px;
	padding-top: 3em;
	padding-bottom:1em;
	font-style: italic;
}
.carousel p{
	padding-bottom: 2em;
}

#copyright{
	padding-top: 15px;
}
#copyright p{
	color: #adadad;
}
#testimonials{
	margin-top: 300px;
}
